@model ViewModel
@{
    ViewData["Title"] = "Способ третий: Хороший";
}
<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">@ViewData["Title"]</h1>
        @using (Html.BeginForm(FormMethod.Post))
        {
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Movie.Title, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Movie.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Movie.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Movie.GenreId, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Movie.GenreId, Model.Genres, "choose")
                    @Html.ValidationMessageFor(model => model.Movie.GenreId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-10">
                <p>
                    <input type="submit" value="Save" />
                </p>
            </div>
        }
    </div>
</div>
